
.foto img{
width: 170px;

}

.foto{
    text-align: center;
}

H1{
    color: white;
    text-align: center;
    background-color: FFDE59;
    border-radius: 10px;
    width:1593px ;
    padding: 2px;
    text-align: center;
    justify-content: center;
}

.fundo{
    background-color: 24368C;
    padding: 10px;
     text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    margin-top: 30px;
}

.equipe img{
width: 280px;
margin-top: 50px;
margin-left: 120px;
}

.equipe h2{
    margin-left: 140px;
    font-family: 'Concert One';

}

.pessoas{
display: flex;
}

.nome{
margin-left: 160px;
font-family: 'Concert One';
font-size: 20px;
}

.texto{
    background-color: FFA800;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    margin-top: 90px;
    margin-left: 40px;
}

.texto h2{
    color: aliceblue;
    margin-left: 10px;
}

.texto p{
    font-size: 20px;
    font-family: 'Inter';
    margin-left: 10px;
    margin-top: 20px;
}


.vice{
display: flex;
}

.sol img{
width: 280px;
margin-top: 50px;
margin-left: 120px;
}

.nomesol {
margin-left: 120px;
font-family: 'Concert One';
font-size: 20px;
}

.texto1{
    background-color: FFDE59;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    margin-top: 90px;
    margin-left: 40px;
}

.texto1 h2{
color: black;
margin-left: 10px;
}

.texto1 {
    background-color: FFDE59;
}

.texto1 p{ 
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Inter';
    margin-top: 20px;
}

.coordenador{
    display: flex;
    }

    .texto2{
        background-color: 1E5E8D;
        width: 700px;
        height: 200px;
        border-radius: 10px;
        margin-top: 90px;
        margin-left: 40px;
    }
    
    .texto2 h2{
        color: aliceblue;
        margin-left: 10px;
    }
    
    .texto2{
        background-color: 226699;
    }

    .texto2 p{
        margin-left: 10px;
        font-size: 20px;
        font-family: 'Inter'; 
        margin-top: 20px;
    }

    .nome1{
        margin-left: 120px;
        font-family: 'Concert One';
        font-size: 20px;
    }

    .texto3{
        background-color: FCB900;
        background-color: 1E5E8D;
        width: 700px;
        height: 200px;
        border-radius: 10px;
        margin-top: 90px;
        margin-left: 40px;
    }

.nomecarlos{
    margin-left: 150px;
font-family: 'Concert One';
font-size: 20px;
}

.texto3 h2{
    color: 24368C;
    margin-left: 10px;
}

.texto3 p{
    margin-left: 10px;
        font-size: 20px;
        font-family: 'Inter'; 
        margin-top: 20px;
}

.nome2{
    margin-left: 150px;
    font-family: 'Concert One';
    font-size: 20px;
    } 
.texto4{
    width: 700px;
    height: 200px;
    border-radius: 10px;
    margin-top: 90px;
    margin-left: 40px;
    background-color: FFA800;
}

.texto4 h2{
    color: aliceblue;
    margin-left: 10px;
}

.texto4 p{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Inter';
    margin-top: 20px;
}

.nomeantonio{
    margin-left: 150px;
    font-family: 'Concert One';
    font-size: 20px;
    margin-top: 10px;
}

.imagem{
    justify-content: center;
    text-align: center;
    background-color:#069;
    height: 230px;
}

/*Resetando os valores de espaçamento */
*{
    margin: 0;
    padding: 0%;
   
}

/*Estilizando a nav da classe menu */
.menu{
    width: 20%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    text-decoration: none;
    list-style: none;
    z-index: 100;

    
}

/*Estilizando as listas */
.menu ul{
    list-style: none;
    text-decoration: none;
    position: relative;
    z-index: 100;
}
 .menu ul li{
        width: 150px;
        float: left;
        z-index: 100;
    
    }
    

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 102, 153, 0.834);
    color: #fff;

}

.menu ul ul{
    position: absolute;
    visibility: visible;
    z-index: 100;

}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #f4f4f4;
    color: #555;
    z-index: 100;


}

.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
    z-index: 100;

}


.menu ul ul li a{
    background-color: #069;
    z-index: 100;
    }
/*Criando o label */
label[for="bt_menu"]{
    padding: 5px;
    background-color: rgba(0, 102, 153, 0.413);
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
}

#bt_menu{
    display: none;
}

label[for=”bt_menu”]{
    display: none;
    }

    label[for=”bt_menu”]{
        display: none;
        }

#bt_menu:checked ~ .menu{
    margin-left: 0;
}

.menu{
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
}

.menu ul li{
    width: 100%;
    float: none;
}

.menu ul ul{
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all 4s;
    z-index: 100;
}

.menu ul li:hover ul{
    height: auto;
    max-height: 200px;
}

.menu ul ul li a{
    background-color: rgba(0, 102, 153, 0.551);
    z-index: 100;
}

.tudo{
    z-index: 100;
    margin-top: -228px;
}

.link a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white; 
    
}

.link{
    text-align: center;
    margin-top: 90px;
    
}

.barra1{
    background-color: FFDE59;
    position: absolute;
    padding-right: 449px;
    padding-left: 370px;
    padding-bottom: 11px;
    margin-top: 100px;
}

.barra2{
    background-color: FFDE59;
    position:absolute;
    padding-right: 449px;
    padding-left: 370px;
    padding-bottom: 11px;
    right: 0px;
    margin-top: -133px;
}


.home img{
width: 35px;
position: absolute;
right: 0px;
margin-top: -90px;
}

.link a:hover{
    transition: 0,4s;
    border: solid;
    border-color: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1.2);
    
} 

/* RODAPE */

.icones img{
    width: 50px;
    margin: 2px;
}

.icones{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5px;
    z-index: 100;
    bottom: 5px;
}


body{
    margin: 0px;
}
li{
 
    list-style: none;
    margin: 0px 10px 0px 10px;
    
}

li a{
    text-decoration: none;
    color: 636363;
    font-size: 16px;

    
}


.baixo{
    display: flex;
    justify-content: center;
    background-color: FFDE59;
    padding: 70px;

}

.azul li a{
   color:24368C;
   font-size: 18px;
   margin-bottom: 2px;
   font-weight: bolder;

   
}
/* FIM RODAPE */

/* CREDITOS */

.baixo1{
    margin-top: -60px;
    display: flex;
    justify-content: center;
    background-color: 226699;
    padding: 80px;

}

.creditos li a{
    color: white;
    
    
}

.p1{
    font-size: 20px;
    color: FFD734;
    background-color:226699 ;
    text-align: center;
    
}

/* FIM CREDITOS */

